@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    --bg: #9b7ebd;
    --text: #3b1e54;
    --darkText: #3b1e54;
    --yellow: #fbca0e;
    --dark-yellow: #dfb40b;
    --alpha-yellow: #fbcc0e71;
    --blue: #5e48be;
    --dark-blue: #5a46b1;
  }
}

.emoji-message {
  position: absolute;
  height: 2rem;
  width: 2rem;
  right: -2rem;
  top: -0.75rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation:
    opacity 0.5s ease-in-out forwards,
    bounce 0.5s infinite;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.3rem);
  }
  100% {
    transform: translateY(0);
  }
}

.game-font {
  font-family: "Press Start 2P", sans-serif;
  font-weight: 400;
  font-style: normal;
}

img {
  user-select: none;
}

.home_page {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-image: url("/images/bg-image.png");
  background-color: var(--blue);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home_menu_card_bg {
  @apply absolute left-1/2 top-[30%] w-full -translate-x-1/2 -translate-y-[30%] md:h-fit md:w-4/5;
}

.home_menu {
  @apply fixed right-1/2 top-1/2 flex h-screen w-screen -translate-y-1/2 translate-x-1/2 items-center justify-center;
}

.home_menu_card {
  @apply relative flex h-screen w-screen flex-col rounded-3xl border bg-white/10 bg-contain bg-center bg-no-repeat p-5 shadow-xl shadow-blue-800/30 filter backdrop-blur-md sm:h-[735px] sm:w-[600px] md:bg-cover;
}

.toggle_item_active {
  text-align: center;
  transform-origin: center;
  transform: scale(1);
  transition: all 0.2s;
  opacity: 1;
  animation: fadeIn 0.2s ease-in-out;
}

.toggle_item_inactive {
  text-align: center;
  transform-origin: center;
  animation: fadeIn 0.2s ease-in-out;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate_fade_in {
  animation: fadeIn 0.3s ease-in-out;
}
